body{
    background-color: #6eb5b8;
    color: #3a414c;
}
table,
tr,
td{
    text-align: center;
    width: 800pt;
    background-color: #a7ffc3;
    margin-left: auto;
    margin-right: auto;
    
    
}
.igen{
    width: 50pt;
}
.kep{
    border: solid black 1pt;
}
h2{
    text-align: left;
}
.nem{
    width: 125pt;
}
p{
    text-align: left;
}
li{
    text-align: left;
}
link{
    color: #756F72;
}


